.account-container {
    background-image: url(../images/sung-jinwoo-dark-3840x2160-21604.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}
.account-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    opacity: 0.9;
}
.login-center {
    background-color: #1a4892;
    color: white;
}
.type-change{
   margin-top: 15px;
}