@using HealthFitSystem.ViewModels;
@model ChangePasswordViewModel;

@{
	ViewData["Title"] = "Change Password";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-container">
	<div class="account-box">
		<h2 class=" text-center mb-4">Change Password</h2>
		<form asp-action="ChangePassword" method="post">
			<div asp-validation-summary="ModelOnly" class=" text-danger">
			</div>
			<div class="md-3">
				<label asp-for="Email" class="form-label"></label>
				<input asp-for="Email" class="form-control" readonly />
			</div>
			<div class="md-3">
				<label asp-for="NewPassword" class="form-label"></label>
				<input asp-for="NewPassword" class="form-control" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="md-3">
				<label asp-for="ComfirmNewPassword" class="form-label"></label>
				<input asp-for="ComfirmNewPassword" class="form-control" />
				<span asp-validation-for="ComfirmNewPassword" class="text-danger"></span>
			</div>

			<input type="submit" value="Submit" class="btn btn-succes w-100 p-2 type-change login-center" />


		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}